* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Roboto';
  scroll-margin: 140px;
  scroll-behavior: smooth;
}

*::before, *::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Roboto';
  background: #2F343A;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}

[anim="ripple"] {
  position: relative;
  overflow: hidden;
}

[anim="ripple"]:before {
  content: '';
  position: absolute;
  display: block;
  background: var(--ripple-background, white);
  border-radius: 50%;
  pointer-events: none;
  top: calc(var(--y) * 1px);
  left: calc(var(--x) * 1px);
  width: calc(var(--d) * 1px);
  height: calc(var(--d) * 1px);
  opacity: calc(var(--o, 1) * var(--ripple-opacity, 0.3));
  -webkit-transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
  transition: calc(var(--t, 0) * var(--ripple-duration, 600ms)) var(--ripple-easing, linear);
  -webkit-transform: translate(-50%, -50%) scale(var(--s, 1));
          transform: translate(-50%, -50%) scale(var(--s, 1));
  -webkit-transform-origin: center;
          transform-origin: center;
}

.map {
  width: 100%;
  height: 450px;
  margin-bottom: 0;
}

.map::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(57, 63, 71, 0.6);
  z-index: 2;
  pointer-events: none;
}

.map iframe {
  width: 100%;
  height: 450px;
}

.title {
  padding-top: 46px;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  position: relative;
  color: #FFFFFF;
}

.title::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 90px;
  height: 6px;
  background: #C8A35F;
}

.header {
  background: #2F343A;
}

.header__top {
  background: #C8A35F;
  height: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__top .container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__top-link {
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #FFFFFF;
}

.header__top-link:hover {
  color: #fff;
}

.header__lang-link {
  font-size: 12px;
  line-height: 14px;
  color: #FFFFFF50;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  cursor: pointer;
}

.header__lang-link:not(:last-of-type) {
  margin-right: 10px;
}

.header__lang-link:hover {
  color: #fff;
}

.header__lang-link.active {
  color: #ffffff;
}

.header__nav {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  background: #2F343A;
  -webkit-transition: -webkit-box-shadow 200ms ease-in-out;
  transition: -webkit-box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out;
  transition: box-shadow 200ms ease-in-out, -webkit-box-shadow 200ms ease-in-out;
}

.header__nav .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__nav.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100px;
  -webkit-box-shadow: 0 0 30px #00000090;
          box-shadow: 0 0 30px #00000090;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__hr {
  margin: 0 30px;
  height: 45px;
  width: 1px;
  background: #fff;
}

.header__loc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: #FFFFFF;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header__loc:hover {
  color: #C8A35F;
}

.header__loc img {
  margin-right: 10px;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.header__li:not(:last-of-type) {
  margin-right: 30px;
}

.header__link {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.header__link:hover {
  color: #C8A35F;
}

.header__button {
  min-width: 30px;
  height: 30px;
  position: relative;
  border: none;
  outline: none;
  background: none;
  display: none;
}

.header__button.open .header__button-line, .header__button.open::before {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          transform: translate(-50%, -50%) rotate(135deg);
}

.header__button.open::after {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-135deg);
          transform: translate(-50%, -50%) rotate(-135deg);
}

.header__button::before, .header__button::after, .header__button-line {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
}

.header__button::before {
  top: 20%;
}

.header__button::after {
  bottom: 20%;
}

.header__button-line {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro {
  height: calc(100vh - 145px);
  background: url("../images/intro.jpg") center/cover no-repeat;
}

.intro.sticky {
  margin-top: 100px;
}

.intro__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: relative;
}

.intro__content {
  border: 1px solid #C8A35F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 45px 70px;
  max-width: 920px;
}

.intro__title {
  font-size: 64px;
  line-height: 75px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 29px;
}

.intro__desc {
  font-size: 18px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
}

.intro__mouse {
  position: absolute;
  bottom: 50px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slide-page {
  padding: 120px 0;
  margin-bottom: 120px;
  scroll-margin: 95px;
  position: relative;
}

.slide-page::before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  max-width: 410px;
  width: 100%;
  background: #2F343A;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.slide-page::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #393F47;
  z-index: -2;
}

.slide__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.slide .carousel-inner {
  max-width: 445px;
  width: 100%;
  max-height: 266px;
  height: 100%;
}

.slide .carousel-item {
  max-width: 445px;
  width: 100%;
  max-height: 266px;
  height: 100%;
}

.slide .carousel-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0;
}

.slide .carousel-control-next,
.slide .carousel-control-prev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #C8A35F;
  right: 0;
  left: auto;
  position: static;
  text-indent: 0;
  opacity: 1;
}

.slide .carousel-control-next img {
  margin-left: 30px;
}

.slide .carousel-control-prev img {
  margin-right: 30px;
}

.slide__title {
  margin-bottom: 30px;
}

.slide__p {
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.slide__btn {
  background: #C8A35F;
  padding: 18px 45px;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.slide__btn:hover {
  color: #fff;
}

.slide__info {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 30px;
}

.services {
  margin-bottom: 120px;
}

.services__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1px;
  -webkit-column-gap: 1px;
          column-gap: 1px;
}

.services__title {
  margin-bottom: 60px;
}

.services__item {
  height: 180px;
  width: calc(25% - 1px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #393F47;
}

.services__item.active {
  background: #C8A35F;
}

.services__item.active .services__img {
  background: #fff;
}

.services__img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.services__name {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.about {
  margin-bottom: 120px;
}

.about__title {
  margin-bottom: 30px;
}

.about__p {
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-height: 482px;
}

.about__rect {
  max-width: 410px;
  width: 100%;
  height: 482px;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #393F47;
  position: absolute;
  z-index: -1;
}

.about__content {
  max-width: 445px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 65px;
}

.about__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  max-width: 600px;
  margin-top: 50px;
}

.about__item {
  max-width: 200px;
  width: 33.333%;
  height: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  border: 1px solid #C8A35F;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.about__item:not(:first-of-type), .about__item:not(:nth-of-type(3)) {
  margin-left: -1px;
}

.about__item:nth-of-type(4), .about__item:nth-of-type(5) {
  margin-top: -1px;
}

.about__item-title {
  font-weight: bold;
  font-size: 64px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #2F343A;
  margin-bottom: 0;
}

.about__item-name {
  font-size: 18px;
  line-height: 1;
  text-align: center;
  letter-spacing: 0.05em;
  color: #000000;
  margin-bottom: 10px;
}

.about__item-desc {
  font-size: 12px;
  line-height: 1;
  text-align: center;
  color: #000000;
}

.about__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.footer {
  background: #C8A35F;
  padding: 60px 0;
}

.footer__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.footer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__link_white {
  font-size: 14px;
  line-height: 24px;
  color: #F2F2F2;
}

.footer__link_white:hover {
  color: #F2F2F2;
}

.footer__link_black {
  font-size: 14px;
  line-height: 24px;
  color: #2F343A;
}

.footer__link_black:hover {
  color: #2F343A;
}

.adv {
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2F343A;
}

.adv:hover {
  color: #2F343A;
}
/*# sourceMappingURL=index.css.map */